player-connection-mode=Listen
player-connection-guid=3568555474
player-connection-debug=0
player-connection-project-name=TCP_3_2024
player-connection-ip=192.168.3.36
player-connection-ip=26.175.158.72
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=13e92600a18c44b1813d5d011d5d021f
